/* General */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-underline-offset: 0.4rem;
}

h1,
h3,
h4,
a,
button,
input {
    font-size: unset;
    font-weight: unset;
}

h2 {
    font-weight: bold;
    font-size: unset;
}

body {
    font-size: 100%;
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    gap: 3px;
}

li {
    margin-bottom: 16px;
    break-inside: avoid;
}

input {
    pointer-events: auto;
}

.input_black {
    background-color: black;
    border: 2px solid #FFF;
    width: 100%;
    height: fit-content;
    color: #FFF;
    padding: 13px 13px;
}

.input_white {
    background-color: #f6f6f6;
    border: 2px solid #000000;
    width: 100%;
    height: fit-content;
    color: #000000;
    padding: 13px 13px;
    flex: 2;
}

.input_red {
    background-color: #f6f6f6;
    border: 2px solid #FE1B00;
    width: 100%;
    height: fit-content;
    color: #000000;
    padding: 13px 13px;
    flex: 2;
}

button {
    cursor: pointer;
    border: none;
    background-color: #fff0;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    flex: 1;
}

*:focus {
    outline: none;
}

/* Custom Radio button*/
.checkbox {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 31px;
    box-shadow: 0px 0px 0px 2px #fff;
    border: 1px solid #8F8F8F;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* ============ Font ============*/

.inter_title {
    font-family: "Inter";
    font-size: 2.5rem;
    font-weight: 900;
    font-style: oblique -10deg;
    font-variation-settings: "slnt" -10;
}

.inter_subtitle {
    font-family: "Inter";
    font-size: 2.6rem;
    font-weight: 600;
    font-style: oblique -10deg;
    font-variation-settings: "slnt" -10;
    font-style: oblique -10deg;
}

.inter_other {
    font-family: "Inter";
    font-size: 1.7rem;
    font-style: oblique -10deg;
    font-variation-settings: "slnt" -10;
    font-weight: 900;
}

.inter_other_2 {
    font-family: "Inter";
    font-size: 1.5rem;
    font-style: oblique -10deg;
    font-variation-settings: "slnt" -10;
    font-weight: 900;
}

.inter_text {
    font-family: "Inter";
    font-size: 1.2rem;
    font-weight: 400;
}

.inter_secondary {
    font-family: "Inter";
    font-size: 0.9rem;
    font-weight: 400;
}

b {
    font-weight: 600;
}

/* Réduction supplémentaire pour les écrans de 480px et moins */
@media (max-width: 768px) {
    .inter_title {
        font-size: 2.6rem;
    }

    .inter_subtitle {
        font-size: 1.8rem;
    }

    .inter_other {
        font-size: 1rem;
    }

    .inter_title {
        font-size: 1.4rem;
    }

    .inter_text {
        font-size: 1rem;
    }

    .inter_secondary {
        font-size: 0.8rem;
    }
}

.uppercase {
    text-transform: uppercase;
}

.gray_text {
    color: #767676;
}

.dark_gray_text {
    color: #6d6d6d;
}

.white_text {
    color: #FFFFFF;
}

.light_gray_text {
    color: #c3c3c3;
}

.black_text {
    color: #000000;
}

.red_text {
    color: #FE1B00;
}

/* ============ Boutons ============*/
.button_white {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 13px 21px;
    height: fit-content;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.button_white_border {
    background-color: #FFFFFF;
    border: 2px solid #000000;
    padding: 13px 21px;
    height: fit-content;
    align-self: center;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.button_black {
    background-color: #000000;
    color: white;
    border: solid 2px #000000;
    padding: 13px 21px;
    height: fit-content;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.button_black_border {
    background-color: #000000;
    color: white;
    border: solid 2px #FFFFFF;
    padding: 13px 21px;
    height: fit-content;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.button_red {
    background-color: #FE1B00;
    color: white;
    border: solid 2px #FE1B00;
    padding: 13px 21px;
    height: fit-content;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.button_red_border {
    background-color: #FE1B00;
    color: white;
    border: solid 2px #FFFFFF;
    padding: 13px 21px;
    height: fit-content;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.link_underline {
    text-decoration: underline;
    transition: .2s;
    font-size: 1rem;
}

.link_nounderline {
    text-decoration: none;
    font-size: 1rem;
}

/* ============ Header ============*/

header {
    flex-direction: row;
    position: fixed;
    width: 100%;
    z-index: 4;
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: #EFEFF0;
    padding-top: 2.5rem;
}

.navbar_down {
    background-color: #EFEFF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.list_menu {
    justify-content: space-between;
    gap: 2vw;
}

.a_menu {
    color: #000000;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-right: 1.3rem;
}

.a_menu:hover {
    color: #FE1B00;
}

.a_menu:active {
    color: #FE1B00;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar:after {
        flex: 0;
    }
}

.navbar .menu_logo {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: left;
    /*! flex-wrap: wrap; */
    /*! text-wrap: nowrap; */
    gap: 15px;
}

.logo {
    /*filter: drop-shadow(0px 0px 2px #00000052);*/
    width: 12rem;
}

@media (max-width: 768px) {
    .navbar .menu_logo .current_page {
        display: none;
    }
}

.menu_button {
    pointer-events: auto;
}

.navbar .menu_button .bg_menu_top,
.bg_menu_down {
    display: block;
    width: 47px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 10px 0px;
}

@media (max-width: 768px) {

    .navbar .menu_button .bg_menu_top,
    .bg_menu_down {
        width: 38px;
        height: 4px;
    }
}

.logo_mobile {
    display: none;
}

@media (max-width: 768px) {
    .logo_classic {
        display: none;
    }

    .logo_mobile {
        display: block;
        align-self: end;
    }
}

@media (max-width: 768px) {
    .contact .contact_form {
        padding: 30px;
    }
}

.banner_container {
    display: flex;
    width: 100%;
    height: 13vw;
}

.banner_container img {
    object-fit: cover;
    aspect-ratio: 16/4;
    height: 100%;
}

.banner_text {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
}

.banner_sup {
    background-color: #000000;
    display: flex;
    flex: content;
    width: 80vw;
    height: 20rem;
    position: relative;
    overflow: hidden;
}

.img_banner {
    height: fit-content;
    width: fit-content;
}

.menu {
    background-color: #000000;
    height: 100vh;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 25px;
    justify-content: center;
    padding: 0px 4vw;
}

@media (max-width: 768px) {

    .menu ul {
        padding: 0px 6vw;
    }
}

.menu a {
    color: white;
    font-size: 2.3rem;
    text-decoration: none;
}

@media (max-width: 768px) {

    .menu a {
        font-size: 1.8rem;
    }
}

.grey {
    color: #8F8F8F;
}


/* ============ HEADER SECTION / ACCUEIL ============*/
.section_header {
    gap: 0px !important;
}

.section_header .title_container {
    padding: 30px 4vw;
    align-items: center;
    /*! filter: drop-shadow(0px -24px 17px black); */
}

.title_container .title {
    gap: 8px;
    flex-basis: 6rem;
    flex-shrink: 0;
    flex-grow: 20;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: start;
}

.plus_accueil {
    /*! width: 100%; */
    display: flex;
    justify-content: end;
    text-wrap: nowrap;
    flex: 2 1;
}

.mb {
    margin-bottom: 1rem;
}

.panier {
    width: 2.3rem;
}

.logo_footer {
    width: 10rem;
    margin-bottom: 2rem;
}

.bread_crumb {
    display: flex;
    justify-content: left;
    gap: 1rem;
    padding: 1vh 4vw;
    color: #8F8F8F;
}

/* ============ ARTICLE LIST ============*/

.article_text {
    display: grid;
    grid-template-columns: 80% 18%;
    column-gap: 2%;
    align-items: first baseline;
}

.article_list {
    padding: 2vh 4vw;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: auto;
    row-gap: 4rem;
    column-gap: 2.7%;
    margin-bottom: 3rem;
}

.article {
    display: flex;
    flex-direction: column;
}

.prix {
    background-color: black;
    width: fit-content;
    padding: 0.3rem;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}

.nom_prix {
    margin-top: 1rem;
}

.prix_prom {
    background-color: #FE1B00;
    width: fit-content;
    padding: 0.3rem;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}

.tag_solde {
    color: #FE1B00;
    font-weight: bold;
    font-size: 1.2rem;

}

.prix_barre {
    color: #8F8F8F;
    font-size: 1.2rem;
    text-decoration: line-through;
}

.container_prix {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.note_avis {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: right;
}

.container_note {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
    align-items: center;
}

.note {
    color: #000000;
    font-size: 1.2rem;
    margin-left: 0.3rem;
}

.star {
    height: 0.7rem;
    width: auto;
    aspect-ratio: 1;
    background: #000000;
    clip-path: polygon(50% 0,
            calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
            calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
            calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
            calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))));
}

.avis {
    color: #8F8F8F;
    font-size: 1.2rem;
}

.nom_article {
    color: #000000;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.mini_bar {
    padding: 1vh 4vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.nombre_article_list {
    color: #8F8F8F;
    font-size: 1.2rem;
}

.miniature {
    width: 1fr;
    height: 1fr;
}

.custom_filtre select {
    appearance: none;
    width: 100%;
    font-size: 1.2rem;
    border: none;
    color: #8F8F8F;
    cursor: pointer;
}

.custom_filtre {
    /* ... */
    position: relative;
}

.custom_filtre::before,
.custom_filtre::after {
    --size: 0.4rem;
    /* Ajustez si nécessaire pour la taille de la flèche */
    position: absolute;
    content: "";
    left: -1rem;
    pointer-events: none;
}

.custom_filtre::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #8F8F8F;
    top: 60%;
    transform: translateY(-50%);
}

.custom_filtre::after {
    display: none;
    /* Supprimez ce pseudo-élément */
}

/* ============ DETAILS PRODUITS ============*/

.vue_article {
    display: grid;
    grid-template-columns: 68% 30%;
    padding: 2vh 4vw;
}

.galerie_article {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 1.5%;
    margin-right: 1.5rem;
}

.image_article {
    width: 100%;
    height: 100%;
}

.infos_row {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    justify-content: baseline;
}

.desc_article {
    font-weight: bold;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.coloris,
.couleur {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

.couleur {
    color: #8F8F8F;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.custom_taille select {
    appearance: none;
    width: 100%;
    font-size: 1.2rem;
    border: none;
    color: black;
    cursor: pointer;
    padding: 0.8rem;
    background-color: #EFEFF0;
}

.prix_details {
    background-color: black;
    width: fit-content;
    padding: 0.3rem;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
}

.prix_prom_details {
    background-color: #FE1B00;
    width: fit-content;
    padding: 0.3rem;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
}

.tag_solde_details {
    color: #FE1B00;
    font-weight: bold;
    font-size: 1.4rem;

}

.prix_barre_details {
    color: #8F8F8F;
    font-size: 1.4rem;
    text-decoration: line-through;
}

.large {
    width: 100%;
    padding: 1.3rem;
}

.details_article {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 2%;
    padding: 1vh 4vw;
    row-gap: 1.5rem;
}

.details_row {
    font-size: 1rem;
}

.b {
    font-weight: bold;
}

.p {
    padding: 1vh 4vw;
}

.italic {
    font-style: italic;
}

.avis_row {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ============  AIDE ============*/

.text {
    padding: 2vh 4vw;
}

.text_part {
    gap: 1rem;
    margin-bottom: 2rem;
}

/* ============ CONTACT ============*/


/* ============ A PROPOS ============*/
.a_propos {
    padding: 50px 4vw;
    justify-content: space-around;
}

@media (max-width: 768px) {

    .a_propos {
        padding: 30px 4vw;
    }
}

.a_propos p {
    flex-basis: 59rem;
}

/* ============ LEGALS ============*/
.legals {
    padding: 40px 4vw;
}

.legals a {
    text-decoration: underline;
}

/* ============ SEARCH ============*/

.search_title {
    justify-content: start !important;
    display: flex;
    padding: 0px 4vw 30px;
    margin-top: -30px;
}

.result {
    margin: 0px 0px 100px;
}

/* ============ FOOTER ============*/

footer {
    background-color: #EFEFF0;
    padding: 40px 4vw;
}

footer a {
    color: black;
}

footer .footer {
    justify-content: space-between;
}

.footer_links {
    gap: 6vw;
}

.footer ul {
    gap: 10px;
}

footer .newsletter {
    flex-basis: 33rem;
}

.footer .newsletter_info {
    position: relative;
    top: -50px;
    opacity: 0;
    z-index: 1;
}

footer form {
    flex-wrap: nowrap !important;
    z-index: 2;
}

footer .mention {
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 20px 0px;
}